.cover__text {
 display: grid;
 align-items: center;
 justify-items: center;
 position: absolute;
 z-index: 1;
 left: calc(50% - 280px);
 top: calc(50% - 125px);
}

@media (min-width: 601px) and (max-width: 800px) {
  .cover__text {
    min-width: 560px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .cover__text {
    width: 288px;
    left: calc(50% - 144px);
    top: calc(50% - 67px);
  }
}
