.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
  }
}
